.project
  .gutter
    %img.icon{ :src => "/img/icon.png" }
    .title
      %h4= project.name
      %p.small
        = "Build #123"
      %p.small 12/01/14 12:48pm
    .install
      %a.btn.btn-positive.center{ :href => "#" }
        Install 
    %p.left.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et mauris suscipit, dapibus diam at, vestibulum ante. Etiam quis erat libero. Praesent in lacus lacus. Sed pulvinar mattis nibh non condimentum. Nam mi quam, luctus a semper quis, semper nec dui. Nulla fringilla felis sed urna volutpat, non dapibus dolor iaculis. Maecenas tellus eros, pharetra at risus vel, fringilla tempor erat. Donec ut sodales est. Integer eget egestas libero. Praesent mattis erat ultricies sollicitudin faucibus. Duis tristique fringilla velit.
